In [1]:
from sqlalchemy import create_engine
import pandas as pd
import pymysql
import mysql.connector
import matplotlib.pyplot as plt

C:\Users\POPO\Anaconda3\lib\site-packages\ipykernel\parentpoller.py:116: UserWarning: Parent poll failed.  If the frontend dies,
                the kernel may be left running.  Please let us know
                about your system (bitness, Python, etc.) at
                ipython-dev@scipy.org
  ipython-dev@scipy.org""")

In [2]:
engine = create_engine(str(r"mysql+mysqldb://%s:" + '%s' + "@%s/%s?charset=utf8") % ("root", "a16031309","127.0.0.1", "hw5"))

In [3]:
sql ="""\
SELECT *
FROM content
 WHERE s_area_name="movie" 
 limit 100;
"""
df=pd.read_sql_query(sql, engine)
df=pd.DataFrame(df)
df.head()

C:\Users\POPO\Anaconda3\lib\site-packages\sqlalchemy\engine\default.py:509: Warning: (1366, "Incorrect string value: '\\xA5x\\xA5_\\xBC\\xD0...' for column 'VARIABLE_VALUE' at row 519")
  cursor.execute(statement, parameters)

,id,p_type,s_id,s_area_id,s_name,s_area_name,content_type,main_id,content_no,comment_count,post_time,title,author,content,page_url,negative_score,positive_score,neg,pos
0,1483203711735_PTT02R,bbs,WH_F0001,WH_F0001_1580,Ptt,movie,main,MAIN,0,78,2017-01-01 00:44:59,[選片] 刺客VS長城,gn02160940,"明天必須找活動打發時間,我死黨又超懶 根本不想做功課找片\r\n\r\n想說就看場電影完 再...",http://www.ptt.cc/bbs/movie/M.1483202702.A.319...,0.493,0.250,N,M
1,1483204964882_PTT02R,bbs,WH_F0001,WH_F0001_1580,Ptt,movie,main,MAIN,0,35,2017-01-01 01:04:21,[新聞] 2017最受矚目 超強大片登場！,sampsonlu919,新聞網址：http://stars.udn.com/star/story/10090/220...,http://www.ptt.cc/bbs/movie/M.1483203864.A.2CE...,0.262,0.265,M,M
2,1483204965722_PTT02R,bbs,WH_F0001,WH_F0001_1580,Ptt,movie,main,MAIN,0,14,2017-01-01 01:15:40,[討論] 樂來樂愛你LA LA LAND 主角外角色疑問,nanjonosa,防雷\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n...,http://www.ptt.cc/bbs/movie/M.1483204546.A.88D...,0.240,0.240,M,M
3,1483204966619_PTT02R,bbs,WH_F0001,WH_F0001_1580,Ptt,movie,main,MAIN,0,2,2017-01-01 01:16:34,[請益] 鐵幕疑雲的疑問,kenshiloh,有雷慎入～～\r\n\r\n\r\n\r\nQ1:為什麼需要耗費女主角去採訪大衛，廢死\r\...,http://www.ptt.cc/bbs/movie/M.1483204597.A.E16...,0.240,0.000,M,M
4,1483206125726_PTT02R,bbs,WH_F0001,WH_F0001_1580,Ptt,movie,main,MAIN,0,6,2017-01-01 01:32:48,[新聞] 法國電影癡 2016票房達50年來次佳紀錄,sampsonlu919,新聞網址：http://bit.ly/2hERzfj\r\n\r\n法國電影癡 2016票房...,http://www.ptt.cc/bbs/movie/M.1483205571.A.9B6...,0.424,0.415,N,P

In [4]:
movielist=["%%玩命關頭8%%",
"%%金牌特務%%",
"%%神力女超人%%",
"%%雷神索爾%%諸神黃昏%%",
"%%蜘蛛人%%返校日%%",
"%%神鬼傳奇%%",
"%%金剛%%骷髏島%%",
"%%美女與野獸%%",
"%%惡靈古堡%%",
"%%正義聯盟%%",
]

In [5]:
title=[
"玩命關頭8",
"金牌特務: 機密杜絕",
"神力女超人",
"雷神索爾 諸神黃昏",
"蜘蛛人 返校日",
"神鬼傳奇",
"金剛  骷髏島",
"美女與野獸",
"惡靈古堡 最終張",
"正義聯盟"]

In [6]:
Q1=dict()

sql="""\
SELECT count(*) 
FROM content 
WHERE title LIKE "%%好雷%%" 
AND title Like """
for i in range(len(movielist)):
    que=sql+"'"+movielist[i]+"'"+";"
    df=pd.read_sql_query(que, engine)
    df=pd.DataFrame(df)
    Q1[movielist[i]]=df.iloc[0,0]

In [7]:
Q1

{'%%玩命關頭8%%': 23,
 '%%金牌特務%%': 71,
 '%%神力女超人%%': 165,
 '%%雷神索爾%%諸神黃昏%%': 19,
 '%%蜘蛛人%%返校日%%': 44,
 '%%神鬼傳奇%%': 20,
 '%%金剛%%骷髏島%%': 17,
 '%%美女與野獸%%': 53,
 '%%惡靈古堡%%': 21,
 '%%正義聯盟%%': 71}

In [8]:
A1=pd.DataFrame(list(Q1.values()),index=title)
A1=A1.rename(columns={0: '好雷文數量'})
A1

            好雷文數量
玩命關頭8          23
金牌特務: 機密杜絕     71
神力女超人         165
雷神索爾 諸神黃昏      19
蜘蛛人 返校日        44
神鬼傳奇           20
金剛  骷髏島        17
美女與野獸          53
惡靈古堡 最終張       21
正義聯盟           71

In [9]:
Q2=dict()
sql="""\
SELECT count(*) 
FROM content 
WHERE title LIKE "%%負雷%%"  
AND title Like """
for i in range(len(movielist)):
    que=sql+"'"+movielist[i]+"'"+";"
    df=pd.read_sql_query(que, engine)
    df=pd.DataFrame(df)
    Q2[movielist[i]]=df.iloc[0,0]

In [10]:
Q2

{'%%玩命關頭8%%': 4,
 '%%金牌特務%%': 40,
 '%%神力女超人%%': 61,
 '%%雷神索爾%%諸神黃昏%%': 0,
 '%%蜘蛛人%%返校日%%': 5,
 '%%神鬼傳奇%%': 27,
 '%%金剛%%骷髏島%%': 4,
 '%%美女與野獸%%': 5,
 '%%惡靈古堡%%': 14,
 '%%正義聯盟%%': 38}

In [11]:
A2=pd.DataFrame(list(Q2.values()),index=title)
A2= A2.rename(columns={0: '負雷文數量'})
A2

            負雷文數量
玩命關頭8           4
金牌特務: 機密杜絕     40
神力女超人          61
雷神索爾 諸神黃昏       0
蜘蛛人 返校日         5
神鬼傳奇           27
金剛  骷髏島         4
美女與野獸           5
惡靈古堡 最終張       14
正義聯盟           38

In [12]:
Q3=dict()

sql="""\
SELECT sum(comment_count) 
FROM content 
WHERE title Like """
for i in range(len(movielist)):
    que=sql+"'"+movielist[i]+"'"+";"
    df=pd.read_sql_query(que, engine)
    df=pd.DataFrame(df)
    Q3[movielist[i]]=df.iloc[0,0]

In [13]:
Q3

{'%%玩命關頭8%%': 5279.0,
 '%%金牌特務%%': 11278.0,
 '%%神力女超人%%': 44564.0,
 '%%雷神索爾%%諸神黃昏%%': 2142.0,
 '%%蜘蛛人%%返校日%%': 6942.0,
 '%%神鬼傳奇%%': 7620.0,
 '%%金剛%%骷髏島%%': 3453.0,
 '%%美女與野獸%%': 8665.0,
 '%%惡靈古堡%%': 3238.0,
 '%%正義聯盟%%': 32681.0}

In [14]:
A3=pd.DataFrame(list(Q3.values()),index=title)
A3=  A3.rename(columns={0: '推文數量'})
A3

               推文數量
玩命關頭8        5279.0
金牌特務: 機密杜絕  11278.0
神力女超人       44564.0
雷神索爾 諸神黃昏    2142.0
蜘蛛人 返校日      6942.0
神鬼傳奇         7620.0
金剛  骷髏島      3453.0
美女與野獸        8665.0
惡靈古堡 最終張     3238.0
正義聯盟        32681.0

In [16]:
final=pd.concat([A1,A2,A3],axis=1)
final

            好雷文數量  負雷文數量     推文數量
玩命關頭8          23      4   5279.0
金牌特務: 機密杜絕     71     40  11278.0
神力女超人         165     61  44564.0
雷神索爾 諸神黃昏      19      0   2142.0
蜘蛛人 返校日        44      5   6942.0
神鬼傳奇           20     27   7620.0
金剛  骷髏島        17      4   3453.0
美女與野獸          53      5   8665.0
惡靈古堡 最終張       21     14   3238.0
正義聯盟           71     38  32681.0